*
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 14px;
    color: #555
}

body
{
    background-color: white;
}

textarea
{
    resize: none;
}

input[type="text"], textarea {

  background-color : white; 
}

.inline li
{
    display : inline;
}

.inline_block
{
    display: inline-block;
    vertical-align: top;
}

a:link
{
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

#header
{
    width: 1024px;
    text-align: right;
}

#main_content
{   
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    width: 1024px;
}

#menu
{
    width: 220px;
}

#menu div
{
    position: relative;
    margin: auto;
    right: 0;
    left: 0;
    padding: 20px;
    border-bottom-style: dotted;
    border-width: 1px;
}

#categories .titulo
{
    list-style-type: disc;
    margin-left: -20px;
}

#categories li
{
    list-style-type: circle;
}

#logo h1
{
    text-align: center;
}

#logo h1 a
{
    font-size: 30px;
}

#categories
{
    
}

#content
{
    margin-top: 40px;
    position: relative;
    margin-left: 0em;
    margin-right: 0em;
    padding-left: 30px;
    width: 650px;
    text-align: center;
}

#trending_items
{
    position: relative;
    width: 100%;
    text-align: center;
    border-bottom-style: dotted;
    border-width: 1px;
    margin-bottom: 40px;
}

#trending_items h1
{
    margin: 0 25px;
    text-align: left;
    padding: 0;
}

#trending_items p
{
    margin: 0;
    padding: 0;
}

#trending_items p.see_more
{
    text-align: right;
    margin: 0 25px;
}

.item
{
    width: 180px; 
    margin: 0px;
    padding: 10px;
    display: inline-block;
}

.item:hover
{
    background-color: #EFF5FB;
}

.item h2
{
    margin: 0;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

p.footer
{
    text-align: right;
    line-height: 90%;
    margin-top: 0em;
}

.ads, .questions
{
    border-style: solid;
    border-width: 1px;
    padding: 20px;
    margin-bottom: 10px;
}

#searcher
{
    text-align: right;
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-width: 1px;
    margin-right: 30px;
    margin-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.questions
{
    text-align: left;
}